asgiref==3.8.1
beautifulsoup4==4.12.3
cffi==1.16.0
cryptography==42.0.5
dj-database-url==2.1.0
Django==5.0.4
django-bootstrap4==24.1
django-crispy-forms==2.1
django-rest-knox==4.2.0
djangorestframework==3.15.1
psycopg2==2.9.9
pycparser==2.22
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.11.0
