{% extends 'Users/base.html' %}
{% include 'Users/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}add event{% endblock title %}
</head>
<body>
    {% block content %}
    <h1>Add Event</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Event</button>
    </form>
    {% endblock content %}
</body>
</html>
