{% extends 'Users/base.html' %}
{% include 'Users/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}event detail{% endblock title %}
</head>
<body>
    {% block content %}
    <h1>Event Detail</h1>
    <h2>{{ object.name }}</h2>
    <p><strong>Date:</strong> {{ object.date }}</p>
    <p><strong>Time:</strong> {{ object.time }}</p>
    <p><strong>Location:</strong> {{ object.location }}</p>
    <p><strong>Message:</strong> {{ object.congratulatoryMessage }}</p>
    <p><strong>Items:</strong></p>
    <ul>
        {% for item in event.items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p><strong>Event Image:</strong></p>
    <img src="{{ object.eventImageUrl }}" alt="Event Image" width="200">

    <h2>RSVPs</h2>
    <p><strong>Total Guests:</strong> {{ total_guests }}</p>
    <ul>
        {% for rsvp in rsvps %}
            <li>{{ rsvps.name }}{% if rsvps.additionalPeople %} + {{ rsvps.additionalPeople|length }}{% endif %}</li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>
