{% extends 'Users/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% include 'Users/navbar.html' %}

{% block title %}Sign_Up | WILL BE THERE{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Sign Up</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% comment %} {% extends 'Users/base.html' %}
{% include 'Users/navbar.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% comment %} {% block title %}Sign_Up | WILL BE THERE{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1>Sign Up</h1>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            {% comment %} <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div>
    </div>
</div>
{% endblock %} {% endcomment %}
 {% comment %} {% endcomment %}
